<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odin mini message board</title>
    <link rel="icon" type="image/svg+xml" href="/odin-icon.svg" />
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <div
      class="flex h-full min-h-screen flex-col items-center bg-blue-50 font-custom dark:bg-slate-900"
    >
      <div class="flex w-full max-w-screen-sm flex-col gap-4 p-4">
        <%- include('header') %>
        <form
          class="flex flex-col gap-4 rounded-md bg-white p-4 dark:bg-blue-950"
          method="POST"
          action="/new"
        >
          <input
            name="user"
            class="cursor-pointer rounded-md border p-2 focus:border-transparent focus:outline focus:outline-blue-600 dark:border-slate-600 dark:bg-blue-950 dark:text-white"
            type="text"
            placeholder="Name"
          />
          <textarea
            name="message"
            class="cursor-pointer rounded-md border p-2 focus:border-transparent focus:outline focus:outline-blue-600 dark:border-slate-600 dark:bg-blue-950 dark:text-white"
            placeholder="Message"
          ></textarea>
          <button
            type="submit"
            class="rounded-md bg-blue-600 p-2 uppercase text-white transition-opacity duration-300 ease-in-out hover:opacity-60"
          >
            Post
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
