<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odin mini message board</title>
    <link rel="icon" type="image/svg+xml" href="/odin-icon.svg" />
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <div class="h-full min-h-screen bg-cyan-50 items-center flex flex-col">
      <div class="flex flex-col gap-4 w-full max-w-screen-sm p-4">
        <%- include('header') %>
        <form
          class="flex bg-white flex-col gap-4 p-4"
          method="POST"
          action="/new"
        >
          <input
            name="messageUser"
            class="border p-2"
            type="text"
            placeholder="Name"
          />
          <textarea
            name="message"
            class="border p-2"
            placeholder="Message"
          ></textarea>
          <button class="bg-blue-700 text-white p-2">Post</button>
        </form>
      </div>
    </div>
  </body>
</html>
