<%- include('doctype') %>
  <body>
    <div
      class="h-full min-h-screen font-custom dark:bg-slate-900 bg-blue-50 items-center flex flex-col"
    >
      <div class="flex flex-col gap-4 w-full max-w-screen-sm p-4">
        <%- include('header') %>
        <form
          class="flex bg-white dark:bg-blue-950 flex-col rounded-md gap-4 p-4"
          method="POST"
          action="/new"
        >
          <input
            name="user"
            class="border rounded-md dark:border-slate-600 dark:bg-blue-950 dark:text-white cursor-pointer focus:outline-blue-600 focus:border-transparent focus:outline p-2"
            type="text"
            placeholder="Name"
          />
          <textarea
            name="message"
            class="border focus:outline-blue-600 dark:border-slate-600 dark:text-white dark:bg-blue-950 cursor-pointer focus:border-transparent rounded-md focus:outline p-2"
            placeholder="Message"
          ></textarea>
          <button
            type="submit"
            class="bg-blue-600 rounded-md uppercase hover:opacity-60 transition-opacity ease-in-out duration-300 text-white p-2"
          >
            Post
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
